<div id="main-wrapper">
  <header class="topbar">
      <nav class="navbar top-navbar navbar-expand-md navbar-light">
          <div class="navbar-header">
              <a class="navbar-brand">
                  <span>
                      <img src="../../../assets/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                  </span>
                  <span>
                      <!-- <img src="../../../assets/assets/images/logo-text.png" alt="homepage" class="dark-logo" /> -->
                  </span>
              </a>
          </div>
          <div class="navbar-collapse">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item hidden-sm-down"></li>
              </ul>
              <ul class="navbar-nav my-lg-0">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle waves-effect waves-dark font-weight-bold"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{usuarioLogueado.nombre | slice:0:15}}{{(usuarioLogueado.nombre.length>15) ? '...' : ''}}
                      </a>
                      <div class="dropdown-menu dropdown-menu-right animated fadeIn">
                          <ul class="dropdown-user">
                              <li>
                                  <div class="dw-user-box">
                                      <div class="u-text">
                                          <h4 class="font-weight-bold">{{usuarioLogueado.nombre}}</h4>
                                          <p class="text-muted" style="font-size: medium;">{{usuarioLogueado.email}}</p>
                                      </div>
                                  </div>
                              </li>
                              <li role="separator" class="divider"></li>
                              <li *ngFor="let item of menu">
                                  <a class="has-arrow waves-effect waves-dark" aria-expanded="false" [routerLink]="item.url">
                                      <i [class]="item.icono">
                                          {{item.titulo}}
                                      </i>
                                  </a>
                              </li>
                              <li role="separator" class="divider"></li>
                              <li>
                                  <a (click)="logout()" class="cursor">
                                    <i class="fa fa-power-off"></i>
                                    Salir
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </li>
              </ul>
          </div>
      </nav>
  </header>

  <div class="page-wrapper">
      <div class="container-fluid">
          <router-outlet></router-outlet>
      </div>
      <footer class="footer">
          © 2024 Corporativo de Servicios Contables "Ávalos".
      </footer>
  </div>
</div>
