<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <div class="navbar-header">
                <a class="navbar-brand">
                    <span>
                        <img src="../../../assets/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                        <!-- <img src="../../../assets/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" /> -->
                    </span>
                    <span>
                          <img src="../../../assets/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                          <!-- <img src="../../../assets/assets/images/logo-light-text.png" class="light-logo" alt="homepage" /> -->
                    </span>
                </a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav mr-auto">
                    <!-- This is  -->


                    <li class="nav-item hidden-sm-down"></li>
                </ul>
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
                <ul class="navbar-nav my-lg-0">
                    <!-- ============================================================== -->
                    <!-- Profile -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark font-weight-bold" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{usuarioLogueado.nombre | slice:0:15}}{{(usuarioLogueado.nombre.length>15) ? '...' : ''}}</a>
                        <div class="dropdown-menu dropdown-menu-right animated bounceIn">
                            <ul class="dropdown-user">
                                <li>
                                    <div class="dw-user-box">
                                        <div class="u-text">
                                            <h4>{{usuarioLogueado.nombre}}</h4>
                                            <p class="text-muted">{{usuarioLogueado.email}}</p></div>
                                    </div>
                                </li>
                                <li role="separator" class="divider"></li>


                                <li *ngFor="let item of menu">
                                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false" [routerLink]="item.url">
                                        <i [class]="item.icono">
                                            {{item.titulo}}
                                        </i>
                                    </a>
                                </li>


<!--                                 <li>
                                  <a class="cursor" [routerLink]="['/dashboard/documentos/mis-documentos/123']"><i class="mdi mdi-cloud-download"> Mis Documentos</i></a>
                                </li> -->
                                <li role="separator" class="divider"></li>
                                <li><a (click)="logout()" class="cursor" ><i class="fa fa-power-off"></i>Salir</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- ============================================================== mdi-account -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">

        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">

            <router-outlet></router-outlet>

        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 2024 Corporativo de Servicios Contables "Ávalos".
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
