<div class="row">
  <div class="col-lg-12 col-xlg-12 col-md-7">
      <div class="form-group row">
          <div class="col-sm-12">
                <a data-toggle="modal" data-target=".modal-nuevo-doc" class="btn btn-primary cursor" role="button" style="color: white;">
                  <span class="mdi mdi-plus"></span>
                  Agregar Documento
              </a>
          </div>
      </div>

      <div class="card">
          <ul class="nav nav-tabs profile-tab" role="tablist">
              <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#profile" role="tab">
                      <div class="font-weight-normal">Historial de documentos</div>
                  </a>
              </li>
          </ul>
          <div class="tab-content">
              <div class="tab-pane active" id="profile" role="tabpanel">
                  <div class="card-body">
                      <div class="table-responsive m-t-10">
                          <table id="tabla" class="display nowrap table table-hover table-bordered" cellspacing="0" width="100%">
                              <thead>
                                  <tr>
                                      <th>Nombre</th>
                                      <th>Usuario actualización</th>
                                      <th>Fecha</th>
                                      <th>Tipo</th>
                                      <th>Estado</th>
                                      <th>Archivo</th>
                                      <th>Acciones</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let documento of documentos | paginate: { itemsPerPage: 5, currentPage: p }">
                                      <td>{{documento.nombre}}</td>
                                      <td>{{documento.usuario.nombre}}</td>
                                      <td>{{documento.fecha}}</td>

                                      <td><span class="badge" [ngClass]="{
                                        'badge-info': documento.tipo === 'FACTURA',
                                        'badge-warning': documento.tipo === 'INFORME'
                                      }" style="padding: 2px; border-radius: 3px;">{{documento.tipo}}</span></td>
                                      <td>
                                        <span class="mdi mdi-check" *ngIf="documento.estado === 'LISTO'"></span>
                                        <span class="mdi mdi-alert-box" *ngIf="documento.estado === 'INCOMPLETO'"></span>
                                        <span class="mdi mdi-block-helper" *ngIf="documento.estado === 'RECHAZADO'"></span>
                                        <span class="mdi mdi-alarm" *ngIf="documento.estado === 'PENDIENTE'"></span>
                                        {{documento.estado}}</td>
                                      <td class="cursor">
                                          <a target="_blank" href="{{documento.documentoURL()}}" download="{{documento.documentoURL()}}">

                                            {{documento.pdf | slice:0:30}}{{documento.pdf !== undefined && documento.pdf.length > 30 ? '...' : ''}}
                                          </a>
                                      </td>
                                      <td class="text-nowrap text-center">
                                        <button type="button" class="cursor" (click)="editar(documento)">
                                          Editar
                                        </button>
                                        <button type="button" class="cursor" (click)="nuevo()">
                                          Nuevo
                                        </button>
                                        <a data-toggle="modal" data-target=".example2-modal-lg" class="cursor" (click)="seleccionarDocumento(documento._id || '')" *ngIf="mostrarControlesEdicion(documento)">
                                            <i class="fa fa-pencil text-inverse m-r-10"></i>
                                        </a>
                                        <a data-toggle="tooltip" data-original-title="Borrar" class="cursor" (click)="eliminarDocumento(documento._id || '')" *ngIf="mostrarControlesEdicion(documento)">
                                            <i class="fa fa-close text-danger"></i>
                                        </a>
                                        <a data-toggle="tooltip" data-original-title="archivo" class="cursor" (click)="editarArchivo(documento._id || '')" style="padding-left: 10px;" *ngIf="mostrarControlesEdicion(documento)">
                                            <i class="fa fa-file-o"></i>
                                        </a>
                                        <a data-toggle="modal"  data-target=".modal-obs" class="cursor" (click)="seleccionarDocumento(documento._id || '')" style="padding-left: 10px;" title="Observación" >
                                          <span class="mdi" [ngClass]="{
                                            'mdi-comment-outline': documento.observacion=== '' || documento.observacion=== undefined,
                                            'mdi-comment': documento.observacion !== '' && documento.observacion !== undefined
                                          }"></span>
                                      </a>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                          <div class="col-12 text-center m-b-20" *ngIf="documentos.length === 0">
                            <span>No hay datos que mostrar</span>
                          </div>
                          <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<app-new-documento #modalNewDocument></app-new-documento>

<div class="modal fade example2-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myLargeModalLabel">Modificar datos del documento</h4>
              <button type="button" class="close" #fileInput data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="card m-b-0" style="border-radius: 5px;">
              <form [formGroup]="actualizacionDocumentoForm"
              (submit)="actualizarDocumento()"
                 >
              <div class="card-body">
                  <div class="form-body">
                      <div class="row p-t-20">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label class="control-label">Nombre del documento</label>
                                  <input type="text"  class="form-control" formControlName="nombre" placeholder="Brenda Torres" >
                              </div>
                              <div class="row">
                                  <div class="col text-danger">
                                      <p *ngIf="campoNoValidoActualizacion('nombre');"> Agregue un nombre</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row p-t-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Fecha</label>
                                <input class="form-control" type="date"  id="example-date-input" formControlName="fecha">
                            </div>
                        </div>
                    </div>
<!--                      <div class="form-actions">
                          <button  class="btn btn-success"> <i class="fa fa-check" ></i> Guardar </button>
                      </div> -->
                  </div>
              </div>
              <div class="card-footer d-flex justify-content-end">
                <button class="btn btn-primary m-1"><i class="fa fa-check" ></i> Guardar</button>
              </div>
              </form>
      </div>
  </div>
</div>
</div>




<!-- sample modal content -->
<div class="modal fade modal-nuevo-doc" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myLargeModalLabel">Agregar Documento</h4>
              <button type="button" class="close" #modalClose data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="card m-b-0" style="border-radius: 5px;">
              <form [formGroup]="nuevoDocumentoForm"
              (submit)="guardarDocumento()"
                 >
              <div class="card-body">
                  <div class="form-body">
                      <div class="row p-t-20">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label class="control-label">Nombre del documento</label>
                                  <input type="text"  class="form-control" formControlName="nombre" placeholder="" >
                                  <div class="col text-danger">
                                    <p *ngIf="campoNoValidoNuevoDoc('nombre');"> Agregue un nombre</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row p-t-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Fecha</label>
                                <input class="form-control" type="date"  id="example-date-input" formControlName="fecha">
                                <div class="col text-danger">
                                  <p *ngIf="campoNoValidoNuevoDoc('fecha');"> Agregue una fecha</p>
                              </div>
                            </div>
                        </div>
                    </div>
                     <!--  <div class="form-actions">
                          <button  class="btn btn-success">  </button>
                      </div> -->
                  </div>
              </div>
              <div class="card-footer d-flex justify-content-end">
                <button class="btn btn-primary m-1"><i class="fa fa-check" ></i> Guardar</button>
              </div>
              </form>
      </div>
  </div>
</div>
</div>



<!-- sample modal content -->
<div class="modal fade modal-obs" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myLargeModalLabel">Observación sobre el documento</h4>
              <button type="button" class="close" #fileInput data-dismiss="modal" aria-hidden="true">×</button>
          </div>

              <form [formGroup]="actualizacionDocumentoForm">
              <div class="card-body">
                  <div class="form-body">
                      <div class="row p-t-5">
                          <div class="col-md-12">
                              <div class="form-group">
                                <label for="observacion">Observación</label>
                                <textarea class="form-control" formControlName="observacion" rows="3" readonly></textarea>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              </form>

  </div>
</div>
</div>



