<div class="row">
  <div class="col-lg-12 col-xlg-12 col-md-7">
      <div class="form-group row">
          <div class="col-sm-12">
                <a data-toggle="modal" data-target=".modal-nuevo-doc" class="btn btn-primary" role="button" style="color: white;">
                  <span class="mdi mdi-plus"></span>
                  Agregar Documento
              </a>
          </div>
      </div>

      <div class="card">
          <ul class="nav nav-tabs profile-tab" role="tablist">
              <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#profile" role="tab">
                      <div class="font-weight-normal">Historial de documentos</div>
                  </a>
              </li>
          </ul>
          <div class="tab-content">
              <div class="tab-pane active" id="profile" role="tabpanel">
                  <div class="card-body">
                      <div class="table-responsive m-t-10">
                          <table id="tabla" class="display nowrap table table-hover table-bordered" cellspacing="0" width="100%">
                              <thead>
                                  <tr>
                                      <th>Nombre</th>
                                      <th>Usuario</th>
                                      <th>Fecha</th>
                                      <th>Archivo</th>
                                      <th>Acciones</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let documento of documentos">
                                      <td>{{documento.nombre}}</td>
                                      <td>{{documento.usuario.nombre}}</td>
                                      <td>{{documento.fecha}}</td>
                                      <td class="cursor">
                                          <a target="_blank" href="{{documento.documentoURL()}}" download="{{documento.documentoURL()}}">{{documento.pdf}}</a>
                                      </td>
                                      <td class="text-nowrap text-center">
                                        <a data-toggle="modal" data-target=".example2-modal-lg" class="cursor" (click)="editarDocumento(documento._id || '')">
                                            <i class="fa fa-pencil text-inverse m-r-10"></i>
                                        </a>
                                        <a data-toggle="tooltip" data-original-title="Borrar" class="cursor" (click)="eliminarDocumento(documento._id || '')">
                                            <i class="fa fa-close text-danger"></i>
                                        </a>
                                        <a data-toggle="tooltip" data-original-title="archivo" class="cursor" (click)="editarArchivo(documento._id || '')" style="padding-left: 10px;">
                                            <i class="fa fa-file-o"></i>
                                        </a>
                                    </td>
                                  </tr>
                              </tbody>
                          </table>
                          <div class="col-12 text-center m-b-20" *ngIf="documentos.length === 0">
                            <span>No hay datos que mostrar</span>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
      <div class="card">
          <div class="card-body">
          <!-- sample modal content -->
              <div class="modal fade example2-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                  <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h4 class="modal-title" id="myLargeModalLabel">Modificar datos del documento</h4>
                              <button type="button" class="close" #fileInput data-dismiss="modal" aria-hidden="true">×</button>
                          </div>
                          <div class="card">
                              <form [formGroup]="actualizacionDocumentoForm"
                              (submit)="actualizarDocumento()"
                                 >
                              <div class="card-body">
                                  <div class="form-body">
                                      <div class="row p-t-20">
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                  <label class="control-label">Nombre del documento</label>
                                                  <input type="text"  class="form-control" formControlName="nombre" placeholder="Brenda Torres" >
                                              </div>
                                              <div class="row">
                                                  <div class="col text-danger">
                                                      <p *ngIf="campoNoValido('nombre');"> Agregue un nombre</p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row p-t-2">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Fecha</label>
                                                <input class="form-control" type="date"  id="example-date-input" formControlName="fecha">
                                            </div>
                                        </div>
                                    </div>
                                     <div class="form-actions">
                                          <button  class="btn btn-success"> <i class="fa fa-check" ></i> Guardar </button>
                                      </div>
                                  </div>
                              </div>
                              </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
  </div>



  <div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
            <!-- sample modal content -->
                <div class="modal fade modal-nuevo-doc" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myLargeModalLabel">Agregar Documento</h4>
                                <button type="button" class="close" #modalClose data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="card">
                                <form [formGroup]="nuevoDocumentoForm"
                                (submit)="guardarDocumento()"
                                   >
                                <div class="card-body">
                                    <div class="form-body">
                                        <div class="row p-t-20">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Nombre del documento</label>
                                                    <input type="text"  class="form-control" formControlName="nombre" placeholder="" >
                                                </div>
                                                <div class="row">
                                                    <div class="col text-danger">
                                                        <p *ngIf="campoNoValido('nombre');"> Agregue un nombre</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row p-t-2">
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                  <label class="control-label">Fecha</label>
                                                  <input class="form-control" type="date"  id="example-date-input" formControlName="fecha">
                                              </div>
                                          </div>
                                      </div>
                                        <div class="form-actions">
                                            <button  class="btn btn-success"> <i class="fa fa-check" ></i> Guardar </button>
                                        </div>
                                    </div>
                                </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

